:root {
    --primary-50: 232 241 244;
    --primary-100: 217 236 232;
    --primary-200: 185 229 215;
    --primary-300: 143 214 178;
    --primary-400: 89 197 142;
    --primary-500: 207 112 58;
    --primary-600: 165 91 44;
    --primary-700: 123 65 32;
    --primary-800: 79 40 23;
    --primary-900: 43 24 16;
    --primary-950: 19 12 8;
    --surface-0: 255 255 255;
    --surface-50: 248 250 252;
    --surface-100: 241 245 249;
    --surface-200: 226 232 240;
    --surface-300: 203 213 225;
    --surface-400: 148 163 184;
    --surface-500: 119 119 119;
    --surface-600: 95 95 95;
    --surface-700: 75 75 75;
    --surface-800: 56 56 56;
    --surface-900: 38 38 38;
    --surface-950: 19 19 19;
}
